.room-status-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.room-status-list th, .room-status-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.room-status-list th {
    background: #004080;
    color: white;
}

.status-dropdown {
    padding: 5px;
    border-radius: 5px;
}

.update-status-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-status-btn:hover {
    background-color: #45a049;
}
